{% extends 'base.html' %}
{% block content %}
<div class="fifa-header">
    <h2>My Favourite Game: <span class="highlight">EA SPORTS FIFA</span></h2>
</div>

<p>FIFA is my absolute favourite football game. I enjoy playing with different clubs and national teams. The realistic gameplay and competitive matches make every session exciting.</p>

<div class="content-box">
    <h3>Why I Love Playing FIFA</h3>
    <ul class="styled-list">
        <li>The hyper-realistic football simulation experience</li>
        <li>Building managing teams in Career Mode</li>
        <li>Intense online multiplayer matches</li>
        <li>Playing as my favourite famous football players</li>
        <li>The competitive thrill of scoring last-minute goals</li>
    </ul>
</div>
{% endblock %}